@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --BASE-RED: #EE0056;

    --mixed-gradient: linear-gradient(135deg,
            #2D0419 0,
            #EE0056 15%,
            #360620 15%,
            #0B0207 80%,
            #EE0056 80%,
            #2D0419 100%);
}


body {
    min-height: 100svh;
    padding: 2rem;
    color: white !important;
    background-image: var(--mixed-gradient);
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

#profile-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--BASE-RED);
}

#intro {
    margin: 1rem 0 2rem 0;
}

#intro h1 {
    font-size: 1.8rem;
}

.card-title i {
    margin-right: 1rem;
}

.card-body {
    text-align: center;
}

.card-link {
    text-decoration: none;
}

.card {
    border-radius: 100px !important;
    background-color: transparent !important;
    color: white !important;
    border-color: var(--BASE-RED) !important;
    transition: all 100ms;  
}

.card:hover,
.card:focus {
    background-color: var(--BASE-RED) !important;

    transform: scale(104%);
}