:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

body {
    height: 100svh;
    padding: 1rem;
    color: white !important;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

#profile-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

#intro {
    margin: 1rem 0;
}

.card-body {
    text-align: center;
}

.card-link {
    text-decoration: none;
}

.card {
    border-radius: 100px !important;
    background-color: transparent !important;
    color: white !important;
    border-color: white !important;
}

.card-group {
    gap: 1rem;
}